body {
    background-color: #f8fafc; /* Fondo suave para el cuerpo */
}

h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra ligera para el título */
}

.card {
    border: 2px solid #60a5fa; /* Borde azul claro en las tarjetas */
}

.card h2 {
    color: #3b82f6; /* Color azul para los encabezados */
}

.btn-custom {
    background-color: #000; /* Color negro */
    color: #fff; /* Color de texto blanco */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añadir transiciones */
    padding: 0.5rem 1rem; /* Espaciado */
    border-radius: 0.375rem; /* Bordes redondeados */
    border: none; /* Sin borde */
}

.btn-custom:hover {
    background-color: #333; /* Color gris oscuro al pasar el ratón */
    transform: scale(1.05); /* Escalar ligeramente al pasar el ratón */
}

.table th {
    background-color: #3b82f6; /* Fondo azul para los encabezados de la tabla */
    color: white; /* Color de texto blanco */
}

.table td {
    border: 1px solid #e5e7eb; /* Borde gris claro para las celdas */
}

.table input {
    border-color: #d1d5db; /* Color de borde para los inputs */
}

/* Estilo adicional para el contenedor de resultados */
.result-container {
    border-top: 2px solid #3b82f6;
    padding-top: 10px;
}

/* Estilo adicional para el contenedor de productos */
.max-h-64 {
    max-height: 16rem; /* Ajusta la altura según necesites */
}

/* Estilos para el contenedor de la tabla */
.table-container {
    max-height: 300px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Habilita el scroll */
    border: 1px solid #d1d5db; /* Borde para el contenedor */
}

/* Estilos para la tabla */
.table-fixed th {
    position: sticky; /* Mantener el encabezado fijo */
    top: 0; /* Fija el encabezado en la parte superior */
    background-color: white; /* Fondo blanco para el encabezado */
    z-index: 10; /* Asegura que el encabezado esté encima del resto */
}


@media (max-width: 768px) {
    .table-container {
        max-height: 250px; /* Altura máxima para dispositivos móviles */
        overflow-y: auto; /* Scroll en el eje y */
    }

    .table th, .table td {
        padding: 8px; /* Reducir padding en dispositivos móviles */
        font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    }

    .btn-custom {
        padding: 1rem; /* Aumentar padding en botones para mejor tacto */
    }
}

/* Estilo para la sección de total del precio */
.total-container {
    background-color: #4F46E5; /* Fondo azul oscuro */
    color: white; /* Texto blanco */
    padding: 1rem; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    margin-top: 1rem; /* Espacio superior */
}

.total-container h3 {
    margin: 0.5rem 0; /* Espaciado entre los elementos */
}